<div  *ngIf="admin.rol == 2" > 
  <!-- Search Bar -->
  <div class="search-bar">
      <div class="search-icon">
          <i class="material-icons">search</i>
      </div>
      <input type="text" placeholder="START TYPING...">
      <div class="close-search">
          <i class="material-icons">close</i>
      </div>
  </div>
  <!-- #END# Search Bar -->
  
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid bg-deep-orange">
        <div class="navbar-header">
            <a class="navbar-brand" style="cursor:pointer" onclick="openNav()">&#9776; MATI ASSEMBLER - ADMINISTRADOR</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Call Search -->
                <li>
                    <a href="javascript:void(0);" class="js-search" data-close="true">
                        <i class="material-icons">search</i>
                    </a>
                </li>
                <!-- #END# Call Search -->

                <li class="pull-right">
                    <a href="javascript:void(0);" class="js-right-sidebar" data-close="true">
                        <i class="material-icons">more_vert</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info bg-light-green">
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{admin.nombre}}</div>
                    <div class="email">{{admin.correo}}</div>
                </div>
                <div><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></div>                
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header active">MENU PRINCIPAL</li>
                    <li>
                        <a (click)="setVista(1)">
                            <i class="material-icons">person</i>
                            <span style="cursor:pointer">Usuarios</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setVista(2)">
                            <i class="material-icons">settings</i>
                            <span style="cursor:pointer">Repuestos</span>
                        </a>
                    </li>
                    <li>
                        <a  (click)="logout()" >
                            <i class="material-icons">not_interested</i>
                            <span style="cursor:pointer">Cerrar sesión</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2018
                    <a href="javascript:void(0);">MatiAssembler</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
 </section>

  <section id="main" class="content">
    
      <div class="container-fluid">

    <!-- LISTA USUARIOS -->
    <div  *ngIf="vista == 1">
      <div class="row clearfix">
          <div>
              <div class="card">
                  <div class="header bg-pink">
                      <h2>
                          LISTA DE USUARIOS
                      </h2>
                  </div>
                  <div class="body table-responsive" >
                      <table class="table table-hover dashboard-task-infos">
                          <thead>
                              <tr>
                                  <th>NOMBRE</th>
                                  <th>APELLIDO</th>
                                  <th>CÉDULA</th>
                                  <th>ROL</th>
                                  <th>MODIFICAR</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor= 'let user of usuarios' >
                                  <td>{{user.nombre}}</td>
                                  <td>{{user.apellido}}</td>
                                  <td>{{user.cedula}}</td>
                                  <td>{{user.rol}}</td>
                                  <td>
                                  <button type="button" data-toggle="modal" data-target="#defaultModal" (click)="modificarUsuario(user.idUsuario)" class="btn btn-default waves-effect">
                                    <i class="material-icons">settings</i>
                                </button>
                            </td>
                              </tr>
                             
                          </tbody>
                      </table>
                  </div>
                  <div class="align-center">
                      <button type="button" data-toggle="modal" data-target="#defaultModal2" (click)="Registrar(2)" data-type="basic" class="btn bg-cyan waves-effect">AGREGAR USUARIO</button>
                  </div>
                  <br>

              </div>
          </div>
      </div>
    </div>
    <!-- #END# LISTA USUARIOS -->
    <!-- LISTA REPUESTOS -->
    <div  *ngIf="vista == 2">
      <div class="row clearfix">
          <div>
              <div class="card">
                  <div class="header bg-deep-purple">
                      <h2>
                          LISTA DE REPUESTOS
                      </h2>
                  </div>
                  <div class="body table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th>TIPO</th>
                                  <th>NOMBRE</th>
                                  <th>ELIMINAR</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor = "let repuesto of repuestos" >
                                  <td>---- </td>
                                  <td> {{repuesto.pieza}}</td>
                                  <td>
                                          <button type="button" class="btn bg-light-blue
                                          waves-effect">
                                              <i class="material-icons">close</i>
                                          </button>
                                      </td>
                              </tr>
                              
                          </tbody>
                      </table>
                  </div>
                  <div class="align-center">
                          <button type="button" data-toggle="modal" data-target="#smallModal" data-type="basic" class="btn bg-cyan waves-effect" (click) ="agregarRepuesto()" >AGREGAR REPUESTO</button>
                      </div>
                      <br>
              </div>
          </div>
      </div>
    </div>
    <!-- #END# LISTA VEHICULOS -->

        <!--MODAL-->
                  <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="defaultModalLabel">MODIFICAR</h4>
                            </div>
                            <div class="modal-body">
                                <div *ngIf="modificar">
                                    <app-modificar-usuario  [user]= "usuario" > </app-modificar-usuario>
                                </div>
                            </div>
                            <div class="modal-footer">
                               
                                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                            </div>
                        </div>
                    </div>
                </div>

        <!-- MODAL REPUESTOS --> 
        <div class="modal fade" id="smallModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="smallModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <div *ngIf="nuevoRepuesto">
                            <app-agregar-repuesto></app-agregar-repuesto> 
                          </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- MODAL REGISTRAR --> 
        <div class="modal fade" id="defaultModal2" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="defaultModalLabel">Registro - Usuario</h4>
                    </div>
                    <div class="modal-body">
                        <div *ngIf="nuevoRegistro">
                            <app-register [Vista]=vistaTemp> </app-register> 
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>

  </div>               
</section>



</div>
