<div class="row clearfix">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>REGISTRAR NUEVO REPUESTO</h2>
        </div>
        <div class="body">
            <form  action="/" (submit)="registrarRepuesto()" id="frmFileUpload"  method="post">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">confirmation_number</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" [(ngModel)]="pieza" name="pieza" placeholder="nombre de pieza" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">directions_car</i>
                    </span>
                    <div class="form-line">
                        <input type="email" class="form-control"[(ngModel)]="marca" name="marca" placeholder="marca" >
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">directions_car</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="modelo" placeholder="modelo" >
                    </div>
                    

                </div>
              
  
        
  
                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">AÑADIR REPUESTO</button>
  
            </form>
        </div>
    </div>
  </div>