
    <div class="card">
        <div class="header">
            <h2>EMITIR ORDEN DE REPARACIÓN</h2>
        </div>
        <div class="body">
            <form  action="/" id="frmFileUpload"  method="post">
              
            
                <div class="input-group">
                    <my-date-picker name="mydate" [options]="myDatePickerOptions"
                    [(ngModel)]="model" required></my-date-picker>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">check_circle</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" [(ngModel)]="motivo" name="motivo" placeholder="Motivo" >
                    </div>
                </div>
                <div class="input-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mecanicos<span class="caret"></span>
                        </button>
                        <ul   class="dropdown-menu">
                            <li *ngFor = "let mecanico of mecanicos"><a (click)= "seleccionarMecanico(mecanico.idUsuario)">{{mecanico.nombre}}</a></li>
                            
                        </ul>
                      
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">check_circle</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" [(ngModel)]="diagnostico" name="diagnostico" placeholder="Diagnostico" >
                    </div>
                </div> 
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">confirmation_number</i>
                    </span>
                    <div class="form-line">                      
                      <label for="fileItem">Elegir imagen a cargar</label>
                      <input type="file" id="fileItem"  name="file" accept=".png" multiple>
                    </div>
                </div>  
                <button class="btn btn-block btn-lg bg-pink waves-effect" (click) = "registrarOrden()" type="text" data-dismiss="modal">AÑADIR ORDEN</button>
  
            </form>
        </div>
</div>
