
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid bg-deep-orange">
        <div class="navbar-header">
            <a class="navbar-brand" style="cursor:pointer" onclick="openNav()">&#9776; MATI ASSEMBLER - MECÁNICO</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Call Search -->
                <li>
                    <a href="javascript:void(0);" class="js-search" data-close="true">
                        <i class="material-icons">search</i>
                    </a>
                </li>
                <!-- #END# Call Search -->

                <li class="pull-right">
                    <a href="javascript:void(0);" class="js-right-sidebar" data-close="true">
                        <i class="material-icons">more_vert</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
    <div >
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info bg-light-green">
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.nombre}}</div>
                    <div class="email">{{user.correo}}</div>
                </div>
                <div><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></div>

            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header active">MENU PRINCIPAL</li>
                    <li>
                        <a  (click)="logout()" >
                            <i class="material-icons">not_interested</i>
                            <span style="cursor:pointer">Cerrar sesión</span>
                        </a>
                    </li>


 
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2018
                    <p >MatiAssembler</p>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </div>
</section>


<div *ngIf="user.rol == 4"> 
<section id="main" class="content">


        <!-- ÓRDENES EN REPARACIÓN -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header bg-indigo">
                        <h2>
                            ÓRDENES EN REPARACIÓN
                        </h2>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ORDEN</th>
                                    <th>MODELO</th>
                                    <th>AÑO</th>
                                    <th>PLACA</th>
                                    <th>SERIAL</th>
                                    <th>Ver detalle</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                                    <tr *ngFor = "let orden of ordenes" >
                                        <td>{{orden.idOrden}}</td>
                                        <td>{{orden.vehiculo.modelo}}</td>
                                        <td>{{orden.vehiculo.ano}}</td>
                                        <td>{{orden.vehiculo.placa}}</td>
                                        <td>{{orden.vehiculo.serialMotor}}</td>
                                        <td> 
                                            <button type="button" (click)="verDetalleOrden(orden)" class="btn btn-default waves-effect">
                                                <i class="material-icons">visibility</i>
                                            </button>
                                        </td> 
                                     
                                    </tr>                        
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- #END# Hover Rows -->
</section>
</div>
<div *ngIf="user.rol != 4"> 
    <body class="five-zero-zero">
        <div class="five-zero-zero-container">
            <div class="error-code">Error</div>
            <div class="error-message">No tiene acceso a esta página</div>
        </div>
    </body> 
</div>
