
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid bg-deep-orange">
        <div class="navbar-header">
            <a class="navbar-brand" style="cursor:pointer" onclick="openNav()">&#9776; MATI ASSEMBLER</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Call Search -->
                <li>
                    <a href="javascript:void(0);" class="js-search" data-close="true">
                        <i class="material-icons">search</i>
                    </a>
                </li>
                <!-- #END# Call Search -->

                <li class="pull-right">
                    <a href="javascript:void(0);" class="js-right-sidebar" data-close="true">
                        <i class="material-icons">more_vert</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
	<div >
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info bg-light-green">
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.nombre}}</div>
                    <div class="email">{{user.correo}} HOLA</div>
                </div>
                <div><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></div>

            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header active">MENU PRINCIPAL</li>
                    <li>
                        <a (click)="home()">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                        <a  (click)="logout()" >
                            <i class="material-icons">not_interested</i>
                            <span>Cerrar sesión</span>
                        </a>
                    </li>


 
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2018
                    <p >MatiAssembler</p>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </div>
</section>


  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>


    <select (click)= "prueba()" name="valor" [(ngModel)]="valor" class="form-control show-tick">
        <option value="1">En curso</option>
        <option value="0">Finalizado</option>
    </select>



