
/* You can add global styles to this file, and also import other style files */
.alert.flash-message {
  margin: 0;
  border-radius: 0;
}

.alert.flash-message.custom-success {
    background: #4aa05f;
}

.alert.flash-message.custom-danger {
    background: #dd4f4f;
}

.alert.flash-message {
  color: white;
  margin: 0;
}

/*.table-hover th, .table-hover td, .table-hover tr{
  width: 100%;
}
.table-hover tbody {
  height: 270px;
  overflow-y: auto;
  width: 100%;
}
.table-hover thead, .table-hover tbody {
  display: block;
}*/

body {
    /*font-family: "Lato", sans-serif;*/
    transition: background-color .5s;
}
.fondo {
    background: #00BCD4;
    background-color: #00BCD4;
    padding-left: 0;
    max-width: 360px;
    margin: 5% auto;
    overflow-x: hidden;
}

/*.sidebar{
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
}*/



/*.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}*/

/*.sidebar a:hover {
    color: #0101DF;
}


#main {
    transition: margin-left .5s;
    padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
*/
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: -300px;
}

