/* You can add global styles to this file, and also import other style files */
.alert.flash-message {
  margin: 0;
  border-radius: 0;
}

.alert.flash-message.custom-success {
    background: #4aa05f;
}

.alert.flash-message.custom-danger {
    background: #dd4f4f;
}

.alert.flash-message {
  color: white;
  margin: 0;
}

/*.table-hover th, .table-hover td, .table-hover tr{
  width: 100%;
}
.table-hover tbody {
  height: 270px;
  overflow-y: auto;
  width: 100%;
}
.table-hover thead, .table-hover tbody {
  display: block;
}*/
