<div *ngIf="mostrarAlerta">
        <div class="alert alert-warning alert-dismissible" role="alert">
                <button (click)="cerrarAlerta()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <strong>El vehículo no posee ordenes</strong>
            </div>
</div> 
<div class="card">
    <div class="header">
        <h2>VEHÍCULOS REGISTRADOS</h2>
    </div>
    <div class="body">
        <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Año</th>
                        <th>Placa</th>
                        <th>Serial del motor</th>
                        <th>Activado</th>
                        <th>Fecha Registro</th>
                        <th>Generar Reporte</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let vehiculo of vehiculos" >                         
                        <td>{{setMarcaVista(vehiculo.marca)}}</td>
                        <td>{{vehiculo.modelo}}</td>
                        <td>{{vehiculo.ano}}</td>
                        <td>{{vehiculo.placa}}</td>
                        <td>{{vehiculo.serialMotor}}</td>
                        <td>{{setActivado(vehiculo.activado)}}</td>
                        <td>{{vehiculo.fechaRegistro}}</td>
                        <td>
                            <button (click)="generarReporte(vehiculo)" type="button" class="btn bg-indigo waves-effect">
                                <i class="material-icons">date_range</i>
                            </button>
                        </td>                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
