<body class="fondo">
<div class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">Mati
                <b>ASSEMBLER</b>
            </a>
            <small>Su taller de siempre, ahora mejor que nunca</small>
        </div>
        <div class="card">
            <div *ngIf="mostrarAlerta">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button (click)="cerrarAlerta()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>{{mensajeAlerta}}</strong>
                </div>
            </div>
            <div *ngIf="mostrarAlerta2">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button (click)="cerrarAlerta2()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>{{mensajeAlerta}}</strong>
                </div>
            </div>
            <div *ngIf="mostrarAlerta3">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button (click)="cerrarAlerta3()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>{{mensajeAlerta}}</strong>
                </div>
            </div>
            <div class="body">
                <form (submit)= "onLoginSubmit()">
                    <div class="msg">Inicie sesión</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" [(ngModel)]='email' class="form-control" name="email" placeholder="Correo" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password"  [(ngModel)] = 'password' class="form-control" name="password" placeholder="Contraseña" required>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">INGRESAR</button> 

                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-12">
                            <a>No tienes cuenta?</a>
                            <button type="button" data-toggle="modal" data-target="#defaultModal" (click)="Registrar(1)" data-type="basic" class="btn btn-lg bg-cyan waves-effect">Registrate Ahora!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


</div>


<!-- MODAL REGISTRAR --> 
    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Registro - Cliente</h4>
                </div>
                <div class="modal-body">
                    <div *ngIf="nuevoRegistro">
                        <app-register [Vista]=vistaTemp> </app-register> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>



