   <div class="card">
        <div class="header">
            <h2>EMITIR ORDEN DE REPARACIÓN</h2>
        </div>
        <div class="body">
            <form  action="/" (submit)="registrarOrden()" id="frmFileUpload"  method="post">
			    <div class="demo-radio-button">
			        <div *ngFor="let repuesto of repuestos">
			            <input (click)="sumarRepuesto(repuesto.idRepuesto)" type="radio" id={{repuesto.idRepuesto}} class="with-gap radio-col-light-blue"/>
			            <label for={{repuesto.idRepuesto}}>{{repuesto.pieza}}</label>
			        </div>
			    </div>
			    <button class="btn btn-block btn-lg bg-pink waves-effect" (click) = "actualizarOrden()" type="button" >MODIFICAR</button> <br><br>

            </form>
        </div>

